ion-content {
  --background: url(/assets/backgrounds/wp-lactancia.jpeg) no-repeat
    center/cover;
}
.bg-transparent {
  background: transparent;
}
.btn-fav {
  --ion-color-base: #fdbdbe !important;
}
.select-pecho {
  border-radius: 5px;
}
.ultimo-pecho {
  background-color: #fdbdbe;
}
