ion-content {
  --background: url(/assets/backgrounds/wp-lactancia.jpeg) no-repeat
    center/cover;
}
.btn-fav {
  --ion-color-base: #fdbdbe !important;
}
.select-pecho {
  border-radius: 5px;
}
.ultimo-pecho {
  background-color: #fd8b8d;
}
