ion-content {
  --background: url(/assets/backgrounds/wp-dormir.jpeg) no-repeat center/cover;
}
.bg-tittle {
  background: #fcf969;
}
.bg-list-header{
  --background: #bea8eb;
}
.bg-item-acordeon{
  --background: #fbef54;
}
.btn-inicio-bien {
  background-color: #85e5a6;
}
.btn-inicio-alerta {
  background-color: #faff6f;
}
.btn-inicio-peligro {
  background-color: #f77b7c;
}
