ion-content {
  --background: url(/assets/backgrounds/wp-dormir.jpeg) no-repeat center/cover;
}
.bg-tittle {
  background: #fcf969;
}
.btn-inicio-bien {
  background-color: #17a914;
  * {
    color: #000;
  }
}
.btn-inicio-alerta {
  background-color: #c6bd09;
  * {
    color: #000;
  }
}
.btn-inicio-peligro {
  background-color: #ae2b2b;
}
