<ion-app mode="ios">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Dormir</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="body">
    <ion-list class="bg-transparent">
      <ion-grid fixed>
        <ion-row
          class="ion-justify-content-center ion-align-items-center ion-margin"
        >
          <ng-container *ngIf="!objNocheEnCurso">
            <ion-col
              size="8"
              class="ion-text-center"
              *ngIf="objSiestaEnCurso;else btnInicioDesactivadoSiesta"
            >
              <ion-card class="btn-inicio-bien">
                <ion-card-header>
                  <ion-card-subtitle> Siesta en curso </ion-card-subtitle>
                  <ion-card-title>
                    {{objSiestaEnCurso.hora | hora}}
                  </ion-card-title>
                  <ion-card-subtitle> Transcurrido </ion-card-subtitle>
                  <ion-card-subtitle> 10 minutos </ion-card-subtitle>
                </ion-card-header>
              </ion-card>
              <ion-button (click)="btnFinalSiestaEnCurso()" color="tertiary">
                <ion-icon slot="start" name="partly-sunny-outline"></ion-icon>
                <ion-text color="dark"> Detener Siesta </ion-text>
              </ion-button>
            </ion-col>
          </ng-container>

          <ng-container *ngIf="!objSiestaEnCurso">
            <ion-col
              size="8"
              class="ion-text-center"
              *ngIf="objNocheEnCurso;else btnInicioDesactivadoNoche"
            >
              <ion-card class="btn-inicio-bien">
                <ion-card-header>
                  <ion-card-subtitle> Noche en curso </ion-card-subtitle>
                  <ion-card-title>
                    {{objNocheEnCurso.hora | hora}}
                  </ion-card-title>
                  <ion-card-subtitle> Transcurrido </ion-card-subtitle>
                  <ion-card-subtitle> 10 minutos </ion-card-subtitle>
                </ion-card-header>
              </ion-card>
              <ion-button (click)="btnFinalNocheEnCurso()" color="tertiary">
                <ion-icon slot="start" name="moon-outline"></ion-icon>
                <ion-text color="dark"> Detener Noche </ion-text>
              </ion-button>
            </ion-col>
          </ng-container>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="10">
            <ion-accordion-group>
              <ion-accordion class="item-rounded">
                <ion-item slot="header" color="medium">
                  <ion-icon slot="start" name="partly-sunny-outline"></ion-icon>
                  <ion-label> Historial Siesta </ion-label>
                </ion-item>
                <ng-container *ngIf="arrSiesta.length>0; else limpio">
                  <div
                    slot="content"
                    *ngFor="let time of arrSiesta; let indx = index"
                  >
                    <ion-item-sliding>
                      <ion-item>
                        <ion-label>
                          <ion-grid>
                            <ion-row class="ion-justify-content-center">
                              <ion-col size="6">
                                <ion-label class="ion-text-center">
                                  Inicio
                                </ion-label>
                                <ion-label class="ion-text-center">
                                  {{time.inicio.hora | hora}}
                                </ion-label>
                              </ion-col>
                              <ion-col size="6">
                                <ion-label class="ion-text-center">
                                  Fin
                                </ion-label>
                                <ion-label class="ion-text-center">
                                  {{time.final.hora | hora}}
                                </ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-label>
                      </ion-item>
                      <ion-item-options side="end">
                        <ion-item-option color="danger">
                          Eliminar
                          <ion-icon slot="top" name="trash-outline"></ion-icon>
                        </ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                  </div>
                </ng-container>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="10">
            <ion-accordion-group>
              <ion-accordion class="item-rounded">
                <ion-item slot="header" color="medium">
                  <ion-label>Historial Noche</ion-label>
                  <ion-icon slot="start" name="moon-outline"></ion-icon>
                </ion-item>
                <ng-container *ngIf="arrNoche.length>0; else limpio">
                  <div
                    slot="content"
                    *ngFor="let time of arrNoche; let indx = index"
                  >
                    <ion-item-sliding>
                      <ion-item>
                        <ion-label>
                          <ion-grid>
                            <ion-row class="ion-justify-content-center">
                              <ion-col size="6">
                                <ion-label class="ion-text-center">
                                  Inicio
                                </ion-label>
                                <ion-label class="ion-text-center">
                                  {{time.inicio.hora | hora}}
                                </ion-label>
                              </ion-col>
                              <ion-col size="6">
                                <ion-label class="ion-text-center">
                                  Fin
                                </ion-label>
                                <ion-label class="ion-text-center">
                                  {{time.final.hora | hora}}
                                </ion-label>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-label>
                      </ion-item>
                      <ion-item-options side="end">
                        <ion-item-option color="danger">
                          Eliminar
                          <ion-icon slot="top" name="trash-outline"></ion-icon>
                        </ion-item-option>
                      </ion-item-options>
                    </ion-item-sliding>
                  </div>
                </ng-container>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
  <ng-template #btnInicioDesactivadoSiesta>
    <ion-col size="6" class="ion-text-center">
      <ion-button (click)="btnInicioSiestaEnCurso()" color="tertiary">
        <ion-icon slot="start" name="partly-sunny-outline"></ion-icon>
        Iniciar Siesta
      </ion-button>
    </ion-col>
  </ng-template>
  <ng-template #btnInicioDesactivadoNoche>
    <ion-col size="6" class="ion-text-center">
      <ion-button (click)="btnInicioNocheEnCurso()" color="tertiary">
        <ion-icon slot="start" name="moon-outline"></ion-icon>
        Iniciar Noche
      </ion-button>
    </ion-col>
  </ng-template>
  <ng-template #limpio>
    <div class="ion-padding" slot="content">SIN REGISTRO</div>
  </ng-template>
</ion-app>
