<ion-app mode="ios">
  <ion-header>
    <ion-toolbar>
      <ion-menu-button slot='start' color="dark"></ion-menu-button>
      <ion-title>Baby Clock</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="body">
    <ion-list class="bg-transparent">
      <ion-grid>
        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center ion-margin-top ion-padding-vertical"
        >
          <ion-col size="11" class="user-name">
            <h1>Ian Santiago</h1>
          </ion-col>
        </ion-row>
        <ng-container *ngFor="let obj of objData">
          <ion-row
            class="ion-text-center ion-align-items-center ion-justify-content-center"
          >
            <ion-col size="10">
              <ion-button
                [disabled]="obj.router.length===0"
                expand="block"
                size="medium"
                [class]="'btn btn-'+obj.nombre"
                color="none"
                routerLink="/lactancia"
              >
                <ion-icon slot="start" [name]="obj.icon"></ion-icon>
                {{obj.nombre | uppercase}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-grid>
    </ion-list>
  </ion-content>
</ion-app>
