<ion-app mode="ios">
  <ion-header>
    <ion-toolbar>
      <ion-title>Baby Clock</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="body">
    <ion-list class="bg-transparent">
      <ion-grid>
        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center ion-margin-top ion-padding-vertical"
        >
          <ion-col size="11" class="user-name">
            <h1>Ian Santiago</h1>
          </ion-col>
        </ion-row>

        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center"
        >
          <ion-col size="10">
            <ion-button
              expand="block"
              size="medium"
              class="btn btn-lactancia"
              color="none"
              routerLink="/lactancia"
            >
              <ion-icon slot="start" name="restaurant-outline"></ion-icon>
              LACTANCIA
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center"
        >
          <ion-col size="10">
            <ion-button
              disabled
              expand="block"
              size="medium"
              class="btn btn-cambio"
              color="none"
            >
              <ion-icon slot="start" name="shirt-outline"></ion-icon>
              CAMBIO
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center"
        >
          <ion-col size="10">
            <ion-button
              disabled
              expand="block"
              size="medium"
              class="btn btn-juego"
              color="none"
            >
              <ion-icon slot="start" name="football-outline"></ion-icon>
              JUEGO
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center"
        >
          <ion-col size="10">
            <ion-button
              disabled
              expand="block"
              size="medium"
              class="btn btn-banio"
              color="none"
            >
              <ion-icon slot="start" name="fish-outline"></ion-icon>
              BAÑO
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center"
        >
          <ion-col size="10">
            <ion-button
              disabled
              expand="block"
              size="medium"
              class="btn btn-congelado"
              color="none"
            >
              <ion-icon slot="start" name="snow-outline"></ion-icon>
              CONGELADO
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-text-center ion-align-items-center ion-justify-content-center"
        >
          <ion-col size="10">
            <ion-button
              disabled
              expand="block"
              size="medium"
              class="btn btn-suenio"
              color="none"
            >
              <ion-icon slot="start" name="moon-outline"></ion-icon>
              SUEÑO
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
</ion-app>
